{% extends 'account/base.html' %}
{% block title %}Gallery{% endblock title%}
{% load static %}
{% block body %}
 <!-- Page Breadcumb -->
 <section  class="pageBreadcumb pageBreadcumb--style1 position-relative" data-bg-image="https://media.istockphoto.com/id/1202092972/photo/top-view-of-holding-hands-concept-of-unity-teamwork-and-support.jpg?s=612x612&w=0&k=20&c=XHV0XhmnwCFF6lNHMIiN2D4pFHMcsS7Bk1H8Mp_cQco=">
    <div class="pageBreadcumbTopDown">
        <a class="btn btn--styleOne btn--icon btn--icon2 it-btn" href="">
  <svg class="btn__icon" width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.869141 8.70508L1.45508 8.11914C1.60156 8.00195 1.80664 8.00195 1.95312 8.14844L4.23828 10.4922V0.414062C4.23828 0.208984 4.38477 0.0625 4.58984 0.0625H5.41016C5.58594 0.0625 5.76172 0.208984 5.76172 0.414062V10.4922L8.01758 8.14844C8.16406 8.00195 8.36914 8.00195 8.51562 8.11914L9.10156 8.70508C9.21875 8.85156 9.21875 9.05664 9.10156 9.20312L5.23438 13.0703C5.08789 13.1875 4.88281 13.1875 4.73633 13.0703L0.869141 9.20312C0.751953 9.05664 0.751953 8.85156 0.869141 8.70508Z" fill="#60646B" />
  </svg>
  <span class="it-btn__inner">
  <span class="it-btn__blobs">
    <span class="it-btn__blob"></span>
  <span class="it-btn__blob"></span>
  <span class="it-btn__blob"></span>
  <span class="it-btn__blob"></span>
  </span>
  </span>
  <svg class="it-btn__animation" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter>
        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo">
        </feColorMatrix>
        <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
      </filter>
    </defs>
  </svg>
</a>
    </div>
    <div  class="sectionShape sectionShape--top">
        <img src="{% static 'account/image/shapes/pagebreadcumbShapeTop.svg' %}" alt="hhc">
    </div>
    <div class="sectionShape sectionShape--bottom">
        <img src="{% static 'account/image/shapes/pagebreadcumbShapeBottom.svg' %}" alt="hhc">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="pageTitle text-center">
                    <h2 class="pageTitle__heading text-white text-uppercase mb-25">Gallery</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Gallery </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Breadcumb End -->
<div id="content" class="container pt-120 pb-105">
    <div id="my-data" class="row text-center gallery text-lg-start">
     
    </div>
    <nav class="d-flex justify-content-center " aria-label="Page navigation  example">
      <ul id="my-pagination" class="pagination">
      </ul>
    </nav>

</div>



<script>
$(function() {
        function load_data(page) {
            $.ajax({
                url: "{% url 'ajax_gallery' %}",
                data: {'page': page},
                success: function(data) {
                    var html = '';
                    for (var i = 0; i < data.data.length; i++) {
                      html += '<div class="col-lg-3 col-md-4 col-6"><a title="' +data.data[i].title + '" data-lightbox="image-1" href="/' + data.data[i].image+'"class="d-block mb-4 h-100"><img  class="img-fluid img-thumbnail" style="object-fit: cover; width: 304px; height: 206px;" src="/' +data.data[i].image + '" alt=""></a></div>';
                    }
                    $('#my-data').html(html);
                    var pagination_html = '';
                    if (data.has_previous) {
                        pagination_html += '<li class="page-item">'+'<a class="next-page page-link " data-page="'+data.previous_page_number +'" aria-label="Previous">'+'<span aria-hidden="true">&laquo;</span>'+' <span class="sr-only">Previous</span>'+' </a>'+'</li>'+' <li class="page-item"><a class="next-page page-link " data-page="'+data.previous_page_number +'">'+data.previous_page_number +'</a></li>';   
                    }
                    pagination_html +='<li class="page-item active"><a class="next-page page-link " data-page="'+data.page+'">'+ data.page+'</a></li>';
                    if (data.has_next) {
                        pagination_html +='<li class="page-item"><a class="next-page page-link "  data-page="'+data.next_page_number+'">'+ data.next_page_number+'</a></li>'+'<li class="page-item">'+'<a class="next-page page-link " data-page="'+data.next_page_number+'" aria-label="Next">'+'<span aria-hidden="true">&raquo;</span>'+'<span class="sr-only">Next</span>'+'</a>'+'</li>';
                    }
                    $('#my-pagination').html(pagination_html);
                    $('.gallery a').lightbox();
                }
           
              });
        }
    
        load_data(1);
    
        $(document).on('click', '.next-page', function(e) {
            e.preventDefault();
            var page = $(this).data('page');
            load_data(page);
            $('html, body').animate({
                scrollTop: $(".pt-120").offset().top
                 }, 000);
        });
    });

</script>




{% endblock body %}