{% extends 'account/base.html' %}
{% block title %}HHC{% endblock title%}
{% load static %}
{% block body %}
 <!-- Hero/Welcome Section Start -->
 
 <section class="hero hero--style1 overflow-hidden">
    <img src="{% static 'account/image/shapes/shapes1.svg' %}" alt="Gainioz" class="hero__shape">
    <img src="{% static 'account/image/shapes/love-shape1.svg' %}" alt="Gainioz" class="hero__shape hero__shape--one">
    <img src="{% static 'account/image/shapes/love-shape2.svg'%}" alt="Gainioz" class="hero__shape hero__shape--two">
    <div class="container container--custom">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-8 mb-30">
                <div class="hero__content">
                    <span class="hero__title hero__title--small wow animate__fadeInUp animate__animated" data-wow-duration="1200ms" data-wow-delay="200ms"><i class="fa-solid fa-heart btn__icon"></i>We Beleve
      That</span>
                    <h1 class="hero__title hero__title--big wow animate__fadeInUp animate__animated" data-wow-duration="1200ms" data-wow-delay="300ms">Do good For Others</h1>
                    <p class="hero__text wow animate__fadeInUp animate__animated" data-wow-duration="1200ms" data-wow-delay="400ms">Because the world needs a good Community.</p>
                    <a class="btn btn--styleOne btn--primary it-btn wow animate__fadeInUp animate__animated" data-wow-duration="1200ms" data-wow-delay="500ms" href="{% url 'join_volunteers' %}">
        <span class="btn__text">join the journey</span>
        <i class="fa-solid fa-heart btn__icon"></i>
        <span class="it-btn__inner">
        <span class="it-btn__blobs">
          <span class="it-btn__blob"></span>
        <span class="it-btn__blob"></span>
        <span class="it-btn__blob"></span>
        <span class="it-btn__blob"></span>
        </span>
        </span>
        <svg class="it-btn__animation" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <defs>
            <filter>
              <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo">
              </feColorMatrix>
              <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
            </filter>
          </defs>
        </svg>
      </a>
                </div>
            </div>
            <div class="col-xl-6 mb-30">
                <figure class="hero__figure wow animate__zoomIn animate__animated" data-wow-duration="1200ms" data-wow-delay="600ms">
                    <img src="{% static 'account/image/girls/girl1.png'  %}" alt="Gainioz Man" class="hero__figure__thumbs">
                    <img class="hero__figure__overlay" src="{% static 'account/image/shapes/shapes3.svg'%}" alt="Gainioz">
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- Hero/Welcome Section End -->
<!-- About && Features && Donner Section -->
<section class="about">
    <img class="about__shape about__shape--one" src="{% static 'account/image/shapes/love-shape3.svg'%}" alt="Gainioz Shape">
    <img class="about__shape about__shape--two" src="{% static 'account/image/shapes/love-shape4.svg'%}" alt="Gainioz Shape">
    <img class="about__shape about__shape--three" src="{% static 'account/image/shapes/love-shape5.svg'%}" alt="Gainioz Shape">
    <div class="aboutArea aboutArea--padding position-relative">
        <img class="mask-aboutBack wow animate__fadeInLeft animate__animated" data-wow-duration="1200ms" data-wow-delay="300ms" src="{% static 'account/image/shapes/mask-shape3.svg'%}" alt="Gainioz Shape">
        <div class="mask mask--about wow animate__fadeInLeft animate__animated" data-wow-duration="1200ms" data-wow-delay="200ms">
            <img src="{% static 'account/image/girls/girl2.png'  %}" alt="Gainioz Shape" class="mask__thumb">
            <img class="mask__overlay" src="{% static 'account/image/shapes/mask-shape2.svg'%}" alt="Gainioz Shape">
        </div>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-6 mb-30">
                    <div class="aboutContent">
                        <!-- Section Heading/Title -->
                        <div class="sectionTitle mb-20">
                            <span class="sectionTitle__small">
          <i class="fa-solid fa-heart btn__icon"></i>
          about foundation
        </span>
                            <h2 class="sectionTitle__big">what have we done with your help</h2>
                        </div>
                        <!-- Section Heading/Title End -->
                        <p class="aboutContent__text">
                            We are committed to work for the prosperity and the digital soundness of our world by doing some work in the field of education & the Charity.
                            Education and prosperity for all - our mission, our commitment.
                        </p>
                        <span class="aboutContent__quote">join our Action and everyone can help</span>
                        <a class="btn btn--styleOne btn--secondary it-btn" href="{% url 'donation_details' %}">
          <span class="btn__text">donate now</span>
          <i class="fa-solid fa-heart btn__icon"></i>
          <span class="it-btn__inner">
          <span class="it-btn__blobs">
            <span class="it-btn__blob"></span>
          <span class="it-btn__blob"></span>
          <span class="it-btn__blob"></span>
          <span class="it-btn__blob"></span>
          </span>
          </span>
          <svg class="it-btn__animation" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
              <filter>
                <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10">
                </feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo">
                </feColorMatrix>
                <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
              </filter>
            </defs>
          </svg>
        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="featureArea pt-70">
        <div class="featureArea__map">
            <img src="{% static 'account/image/shapes/map.png' %}" alt="Gainioz Map">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="keyFeatureBox mb-30">
                        <div class="row">
                            <div class="col-lg-4 wow animate__fadeInLeft" data-wow-duration="1200ms" data-wow-delay="200ms">
                                <div class="keyFeatureBlock mb-30">
                                    <div class="keyFeatureBlock__left">
                                        <span class="keyFeatureBlock__icon">
                <img src="{% static 'account/image/icons/icon1.svg'%}" alt="Gainioz Feature_Icon">
              </span>
                                    </div>
                                    <div class="keyFeatureBlock__content">
                                        <h3 class="keyFeatureBlock__heading">
                                            <a class="keyFeatureBlock__heading__link" href="{% url 'service' %}">
                    healthy Food
                  </a>
                                        </h3>
                                        <p class="keyFeatureBlock__text">Donate healthy food to fight hunger and promote wellness today.</p>
                                    </div>
                                    <div class="keyFeatureBlock__skill skill-bar" data-width="80%">
                                        <span class="keyFeatureBlock__skill__bar"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 wow animate__fadeInLeft" data-wow-duration="1200ms" data-wow-delay="300ms">
                                <div class="keyFeatureBlock mb-30">
                                    <div class="keyFeatureBlock__left">
                                        <span class="keyFeatureBlock__icon">
                <img src="{% static 'account/image/icons/icon2.svg'%}" alt="Gainioz Feature_Icon">
              </span>
                                    </div>
                                    <div class="keyFeatureBlock__content">
                                        <h3 class="keyFeatureBlock__heading">
                                            <a class="keyFeatureBlock__heading__link" href="{% url 'service' %}">
                    Dedicated
                  </a>
                                        </h3>
                                        <p class="keyFeatureBlock__text">Support NGOs with dedicated donations to make a meaningful impact.</p>
                                    </div>
                                    <div class="keyFeatureBlock__skill skill-bar" data-width="94%">
                                        <span class="keyFeatureBlock__skill__bar"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 wow animate__fadeInLeft" data-wow-duration="1200ms" data-wow-delay="400ms">
                                <div class="keyFeatureBlock mb-30">
                                    <div class="keyFeatureBlock__left">
                                        <span class="keyFeatureBlock__icon">
                <img src="{% static 'account/image/icons/icon3.svg'%}" alt="Gainioz Feature_Icon">
              </span>
                                    </div>
                                    <div class="keyFeatureBlock__content">
                                        <h3 class="keyFeatureBlock__heading">
                                            <a class="keyFeatureBlock__heading__link" href="{% url 'service' %}">
                    Strong Team
                  </a>
                                        </h3>
                                        <p class="keyFeatureBlock__text">Empowering communities through collaboration with a strong team approach.</p>
                                    </div>
                                    <div class="keyFeatureBlock__skill skill-bar" data-width="70%">
                                        <span class="keyFeatureBlock__skill__bar"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="donnerArea pt-70 pb-95">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="donnerAreaContent text-center mb-30">
                            <h2 class="donnerAreaContent__bigTitle wow animate__fadeInUp" data-wow-duration="1200ms" data-wow-delay="200ms">
                                <span class="donnerAreaContent__bigTitle__number">25</span>
                                <span class="donnerAreaContent__bigTitle__text">%</span>
                            </h2>
                            <h3 class="donnerAreaContent__heading text-uppercase wow animate__fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">People of India comes under Literacy rate.</h3>
                            <div class="position-relative">
                                <div class="position-absolute top-0 end-0">
                                    <p class=" wow animate__fadeInUp" data-wow-duration="1800ms" data-wow-delay="600ms" >Source: India Book 2020 - A Reference Annual</p>
                                </div>
                            </div>
                           
                            <a class="btn mt-5 btn--styleOne btn--black it-btn wow animate__fadeInUp" data-wow-duration="1200ms" data-wow-delay="400ms" href="{% url 'donation_details' %}">
            <span class="btn__text">DECAME A VOLEENTEER</span>
            <i class="fa-solid fa-heart btn__icon"></i>
            <span class="it-btn__inner">
            <span class="it-btn__blobs">
              <span class="it-btn__blob"></span>
            <span class="it-btn__blob"></span>
            <span class="it-btn__blob"></span>
            <span class="it-btn__blob"></span>
            </span>
            </span>
            <svg class="it-btn__animation" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <defs>
                <filter>
                  <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                  <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo">
                  </feColorMatrix>
                  <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                </filter>
              </defs>
            </svg>
          </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="featureArea__main cc-slide-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <!-- Section Heading/Title -->
                        <div class="sectionTitle mb-65">
                            <span class="sectionTitle__small">
          <i class="fa-solid fa-heart btn__icon"></i>
          need your help
        </span>
                            <h2 class="sectionTitle__big">Featured Campaigns</h2>
                        </div>
                        <!-- Section Heading/Title End -->
                    </div>
                    <div class="col-lg-6">
                        <div class="sliderNav sliderNav--style1 mb-65">
                            <span class="sliderNav__btn btn-prev">
          <svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.75 9.40625L6.375 8.78125C6.5 8.625 6.5 8.40625 6.34375 8.25L3.84375 5.8125H14.625C14.8125 5.8125 15 5.65625 15 5.4375V4.5625C15 4.375 14.8125 4.1875 14.625 4.1875H3.84375L6.34375 1.78125C6.5 1.625 6.5 1.40625 6.375 1.25L5.75 0.625C5.59375 0.5 5.375 0.5 5.21875 0.625L1.09375 4.75C0.96875 4.90625 0.96875 5.125 1.09375 5.28125L5.21875 9.40625C5.375 9.53125 5.59375 9.53125 5.75 9.40625Z"
              fill="white" />
          </svg>
        </span>
                            <span class="sliderNav__btn btn-next">
          <svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9.21875 0.625L8.59375 1.25C8.46875 1.40625 8.46875 1.625 8.625 1.78125L11.125 4.1875H0.375C0.15625 4.1875 0 4.375 0 4.5625V5.4375C0 5.65625 0.15625 5.8125 0.375 5.8125H11.125L8.625 8.25C8.46875 8.40625 8.46875 8.625 8.59375 8.78125L9.21875 9.40625C9.375 9.53125 9.59375 9.53125 9.75 9.40625L13.875 5.28125C14 5.125 14 4.90625 13.875 4.75L9.75 0.625C9.59375 0.5 9.375 0.5 9.21875 0.625Z"
              fill="white" />
          </svg>
        </span>
                        </div>
                    </div>
                </div>
                <div class="cc-sliderStyle1 swiper">
                    <div class="swiper-wrapper">
                        {% for i in campaigns %}
                        <div class="swiper-slide">
                            <div class="featureBlock featureBlock--active">
                                <div class="featureBlock__wrap">
                                    <figure class="featureBlock__thumb">
                                        <a class="featureBlock__thumb__link" href="">
                  <img src="{{i.image}}" alt="Gainioz Featured Thumb">
                </a>
                                        <a class="featureBlock__hashLink" href="{% url 'donation_details' %}">
                  <span class="featureBlock__hashLink__text">#{{i.tag}}</span>
                </a>
                                    </figure>
                                    <div class="featureBlock__content">
                                        <h3 class="featureBlock__heading">
                                            <a class="featureBlock__heading__link" href="{% url 'donation_details' %}">
                 {{i.title}}
                  </a>
                                        </h3>
                                        <p class="featureBlock__text">
                                            {{i.description}}
                                        </p>
                                    </div>
                                </div>
                                <!-- <div class="featureBlock__donation">
                                    <div class="featureBlock__donation__progress">
                                        <div class="featureBlock__donation__bar">
                                            <span class="featureBlock__donation__text skill-bar" data-width="85%">85%</span>
                                            <div class="featureBlock__donation__line">
                                                <span class="skill-bars">
                    <span class="skill-bars__line skill-bar" data-width="85%"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="featureBlock__eqn">
                                        <div class="featureBlock__eqn__block">
                                            <span class="featureBlock__eqn__title">our goal</span>
                                            <span class="featureBlock__eqn__price">$28.0000</span>
                                        </div>
                                        <div class="featureBlock__eqn__block">
                                            <span class="featureBlock__eqn__title">Raised</span>
                                            <span class="featureBlock__eqn__price">$9,9098</span>
                                        </div>
                                        <div class="featureBlock__eqn__block">
                                            <span class="featureBlock__eqn__title">to go</span>
                                            <span class="featureBlock__eqn__price">$34,000</span>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                       {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About && Features && Doner End -->
<!-- Testimonials -->
<section class="review pt-110 pb-100 position-relative overflow-hidden cc-slide-wrap3">
    <img src="{% static 'account/image/shapes/testi-shape1.svg'%}" alt="Gainioz Shape" class="review__shape review__shape--one">
    <img src="{% static 'account/image/shapes/testi-shape2.svg'%}" alt="Gainioz Shape" class="review__shape review__shape--two">
    <div class="mask mask--review position-absolute">
        <!-- <img src="{% static 'account/image/man/testi-man1.jpg'  %}" alt="Gainioz Shape" class="mask__thumb"> -->
        <img class="mask__overlay" src="{% static 'account/image/shapes/testi-shape4.svg'%}" alt="Gainioz Shape">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <!-- Section Heading/Title -->
                <div class="sectionTitle text-center mb-65">
                    <span class="sectionTitle__small justify-content-center">
      <i class="fa-solid fa-heart btn__icon"></i>
      Testimonial
    </span>
                    <h2 class="sectionTitle__big">People Say about our foundation</h2>
                </div>
                <!-- Section Heading/Title End -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="review__box mb-30">
                    <div class="sliderNav sliderNav--style2">
                        <span class="sliderNav__btn btn-prev" tabindex="0" role="button">
        <svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.75 9.40625L6.375 8.78125C6.5 8.625 6.5 8.40625 6.34375 8.25L3.84375 5.8125H14.625C14.8125 5.8125 15 5.65625 15 5.4375V4.5625C15 4.375 14.8125 4.1875 14.625 4.1875H3.84375L6.34375 1.78125C6.5 1.625 6.5 1.40625 6.375 1.25L5.75 0.625C5.59375 0.5 5.375 0.5 5.21875 0.625L1.09375 4.75C0.96875 4.90625 0.96875 5.125 1.09375 5.28125L5.21875 9.40625C5.375 9.53125 5.59375 9.53125 5.75 9.40625Z"
            fill="currentColor"></path>
        </svg>
      </span>
                        <span class="sliderNav__btn btn-next" tabindex="0" role="button">
        <svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9.21875 0.625L8.59375 1.25C8.46875 1.40625 8.46875 1.625 8.625 1.78125L11.125 4.1875H0.375C0.15625 4.1875 0 4.375 0 4.5625V5.4375C0 5.65625 0.15625 5.8125 0.375 5.8125H11.125L8.625 8.25C8.46875 8.40625 8.46875 8.625 8.59375 8.78125L9.21875 9.40625C9.375 9.53125 9.59375 9.53125 9.75 9.40625L13.875 5.28125C14 5.125 14 4.90625 13.875 4.75L9.75 0.625C9.59375 0.5 9.375 0.5 9.21875 0.625Z"
            fill="currentColor"></path>
        </svg>
      </span>
                    </div>
                    <ul class="review__box__images">
                        <li><img src="{% static 'account/image/auth/reviewAuth2.png' %}" alt="Gainioz Reviewer"></li>
                        <li><img src="{% static 'account/image/auth/reviewAuth3.png' %}" alt="Gainioz Reviewer"></li>
                        <li><img src="{% static 'account/image/auth/reviewAuth4.png' %}" alt="Gainioz Reviewer"></li>
                        <li><img src="{% static 'account/image/auth/reviewAuth5.png' %}" alt="Gainioz Reviewer"></li>
                    </ul>
                    <div class="reviewblock text-center">
                        <span class="reviewblock__quoteIcon__two">
        <svg width="300" height="263" viewBox="0 0 300 263" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M271.875 131.5H225V94C225 73.4922 241.406 56.5 262.5 56.5H267.188C274.805 56.5 281.25 50.6406 281.25 42.4375V14.3125C281.25 6.69531 274.805 0.25 267.188 0.25H262.5C210.352 0.25 168.75 42.4375 168.75 94V234.625C168.75 250.445 181.055 262.75 196.875 262.75H271.875C287.109 262.75 300 250.445 300 234.625V159.625C300 144.391 287.109 131.5 271.875 131.5ZM103.125 131.5H56.25V94C56.25 73.4922 72.6562 56.5 93.75 56.5H98.4375C106.055 56.5 112.5 50.6406 112.5 42.4375V14.3125C112.5 6.69531 106.055 0.25 98.4375 0.25H93.75C41.6016 0.25 0 42.4375 0 94V234.625C0 250.445 12.3047 262.75 28.125 262.75H103.125C118.359 262.75 131.25 250.445 131.25 234.625V159.625C131.25 144.391 118.359 131.5 103.125 131.5Z"
            fill="#F8F7F7" />
        </svg>
      </span>
                        <div class="testi-slider-active1 swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="reviewblock__content">
                                        <img class="reviewblock__author__image" src="{% static 'account/image/auth/reviewAuth1.png' %}" alt="Gainioz Reviewer">
                                        <span class="reviewblock__quoteIcon__one">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M21.75 10.9951H18V7.99512C18 6.35449 19.3125 4.99512 21 4.99512H21.375C21.9844 4.99512 22.5 4.52637 22.5 3.87012V1.62012C22.5 1.01074 21.9844 0.495117 21.375 0.495117H21C16.8281 0.495117 13.5 3.87012 13.5 7.99512V19.2451C13.5 20.5107 14.4844 21.4951 15.75 21.4951H21.75C22.9688 21.4951 24 20.5107 24 19.2451V13.2451C24 12.0264 22.9688 10.9951 21.75 10.9951ZM8.25 10.9951H4.5V7.99512C4.5 6.35449 5.8125 4.99512 7.5 4.99512H7.875C8.48438 4.99512 9 4.52637 9 3.87012V1.62012C9 1.01074 8.48438 0.495117 7.875 0.495117H7.5C3.32812 0.495117 0 3.87012 0 7.99512V19.2451C0 20.5107 0.984375 21.4951 2.25 21.4951H8.25C9.46875 21.4951 10.5 20.5107 10.5 19.2451V13.2451C10.5 12.0264 9.46875 10.9951 8.25 10.9951Z"
                    fill="#EB9309" />
                </svg>
              </span>
                                        <h4 class="reviewblock__qotes">“ Helping Hands Community NGO is a great organization that is making a difference by collecting donations for hospitals and schools in India, as well as providing food and care for impoverished children “</h4>
                                        <span class="reviewblock__author__name">Pravez Alam</span>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviewblock__content">
                                        <img class="reviewblock__author__image" src="{% static 'account/image/auth/reviewAuth6.png' %}" alt="Gainioz Reviewer">
                                        <span class="reviewblock__quoteIcon__one">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M21.75 10.9951H18V7.99512C18 6.35449 19.3125 4.99512 21 4.99512H21.375C21.9844 4.99512 22.5 4.52637 22.5 3.87012V1.62012C22.5 1.01074 21.9844 0.495117 21.375 0.495117H21C16.8281 0.495117 13.5 3.87012 13.5 7.99512V19.2451C13.5 20.5107 14.4844 21.4951 15.75 21.4951H21.75C22.9688 21.4951 24 20.5107 24 19.2451V13.2451C24 12.0264 22.9688 10.9951 21.75 10.9951ZM8.25 10.9951H4.5V7.99512C4.5 6.35449 5.8125 4.99512 7.5 4.99512H7.875C8.48438 4.99512 9 4.52637 9 3.87012V1.62012C9 1.01074 8.48438 0.495117 7.875 0.495117H7.5C3.32812 0.495117 0 3.87012 0 7.99512V19.2451C0 20.5107 0.984375 21.4951 2.25 21.4951H8.25C9.46875 21.4951 10.5 20.5107 10.5 19.2451V13.2451C10.5 12.0264 9.46875 10.9951 8.25 10.9951Z"
                    fill="#EB9309" />
                </svg>
              </span>
                                        <h4 class="reviewblock__qotes">“ हेल्पिंग हैंड्स कम्युनिटी एनजीओ शिक्षा, स्वास्थ्य सेवा और स्वस्थ भोजन प्रदान करने पर सकारात्मक प्रभाव डाल रहा है। उनकी मजबूत टीम अपने अस्पताल और अन्य कार्यक्रमों के माध्यम से दूसरों के जीवन को बेहतर बनाने के लिए समर्पित है “</h4>
                                        <span class="reviewblock__author__name">Mehfooz Malik</span>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviewblock__content">
                                        <img class="reviewblock__author__image" style="width: 90px;" src="{% static 'account/image/auth/reviewAuth7.png' %}" alt="Gainioz Reviewer">
                                        <span class="reviewblock__quoteIcon__one">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M21.75 10.9951H18V7.99512C18 6.35449 19.3125 4.99512 21 4.99512H21.375C21.9844 4.99512 22.5 4.52637 22.5 3.87012V1.62012C22.5 1.01074 21.9844 0.495117 21.375 0.495117H21C16.8281 0.495117 13.5 3.87012 13.5 7.99512V19.2451C13.5 20.5107 14.4844 21.4951 15.75 21.4951H21.75C22.9688 21.4951 24 20.5107 24 19.2451V13.2451C24 12.0264 22.9688 10.9951 21.75 10.9951ZM8.25 10.9951H4.5V7.99512C4.5 6.35449 5.8125 4.99512 7.5 4.99512H7.875C8.48438 4.99512 9 4.52637 9 3.87012V1.62012C9 1.01074 8.48438 0.495117 7.875 0.495117H7.5C3.32812 0.495117 0 3.87012 0 7.99512V19.2451C0 20.5107 0.984375 21.4951 2.25 21.4951H8.25C9.46875 21.4951 10.5 20.5107 10.5 19.2451V13.2451C10.5 12.0264 9.46875 10.9951 8.25 10.9951Z"
                    fill="#EB9309" />
                </svg>
              </span>
                                        <h4 style="font-family: 'Noto Nastaliq Urdu', serif; line-height: 1.9;font-size: 25px;" class="reviewblock__qotes">“ ہیلپنگ ہینڈز کمیونٹی این جی او تعلیم، صحت کی دیکھ بھال اور صحت بخش خوراک کی فراہمی پر مثبت اثر ڈال رہی ہے۔ ان کی مضبوط ٹیم اپنے ہسپتال اور دیگر پروگراموں کے ذریعے دوسروں کی زندگیوں کو بہتر بنانے کے لیے وقف ہے۔“</h4>
                                        <span class="reviewblock__author__name">Qari Shamshad</span>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                           
                                
                           
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mvv pt-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="mvvTabs">
                        <div class="mvvTabs__wrapper d-flex align-items-start">
                            <div class="nav nav-pills mb-30" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <button class="mvvTabs__button nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Our MIssion</button>
                                <button class="mvvTabs__button nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Our Vision</button>
                                <button class="mvvTabs__button nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Our Values</button>
                            </div>
                            <div class="tab-content mb-30" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                    <div class="mvvTabs__content">
                                        <h2 class="mvvTabs__heading">Listen, Act, Learn, Repeat</h2>
                                        <p class="mvvTabs__text mb-25">Our mission is to educate and empower individuals across the world to improve their health and wellbeing, and to support sustainable development that leads to increased prosperity and social justice for all.Empowering communities through education and prosperity.
                                            Investing in education for a brighter future.Together, we can build a better world through education and prosperity.</p>
                                        <!-- <div class="mvvTabs__skills">
                                            <div class="mvvTabs__skills__block mb-20">
                                                <h4 class="mvvTabs__skills__counter"><span class="mvvTabs__skills__counter">45</span>%</h4>
                                                <span class="mvvTabs__skills__title color-title">kids need help</span>
                                            </div>
                                            <div class="mvvTabs__skills__block mb-20">
                                                <h4 class="mvvTabs__skills__counter">$<span class="mvvTabs__skills__counter">140</span>k</h4>
                                                <span class="mvvTabs__skills__title color-title">raised Now</span>
                                            </div>
                                            <div class="mvvTabs__skills__block mb-20">
                                                <h4 class="mvvTabs__skills__counter"><span class="mvvTabs__skills__counter">189</span>+</h4>
                                                <span class="mvvTabs__skills__title color-title">Voleenteer</span>
                                            </div>
                                        </div> -->
                                        <p class="mvvTabs__text mb-5">Transforming lives through education and prosperity.Education and prosperity - the keys to unlocking human potential.Empowering individuals and communities through education and prosperity.</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                    <div class="mvvTabs__content">
                                        <h2 class="mvvTabs__heading">Creating opportunities for a prosperous tomorrow.</h2>
                                        <p class="mvvTabs__text mb-25">The world today is marked by rapid technological advancement and an ever-increasing demand for education. The combination of these two factors provides a unique opportunity to create a prosperous future for individuals and communities across the globe. By leveraging technology to enhance educational opportunities, we can unlock human potential and pave the way towards a brighter tomorrow
                                        </p>
                                        <!-- <div class="mvvTabs__skills">
                                            <div class="mvvTabs__skills__block mb-20">
                                                <h4 class="mvvTabs__skills__counter"><span class="mvvTabs__skills__counter">45</span>%</h4>
                                                <span class="mvvTabs__skills__title color-title">kids need help</span>
                                            </div>
                                            <div class="mvvTabs__skills__block mb-20">
                                                <h4 class="mvvTabs__skills__counter">$<span class="mvvTabs__skills__counter">140</span>k</h4>
                                                <span class="mvvTabs__skills__title color-title">raised Now</span>
                                            </div>
                                            <div class="mvvTabs__skills__block mb-20">
                                                <h4 class="mvvTabs__skills__counter"><span class="mvvTabs__skills__counter">189</span>+</h4>
                                                <span class="mvvTabs__skills__title color-title">Voleenteer</span>
                                            </div>
                                        </div> -->
                                        <p class="mvvTabs__text mb-2">Education is the foundation upon which a prosperous society is built.  </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                    <div class="mvvTabs__content">
                                        <h2 class="mvvTabs__heading">Core Values of our NGO</h2>
                                        <p class="mvvTabs__text mb-0">Integrity: NGOs must maintain the highest standards of honesty and ethical behavior, and operate with transparency and accountability.
                                        </p>
                                        <!-- <div class="mvvTabs__skills">
                                            <div class="mvvTabs__skills__block mb-20">
                                                <h4 class="mvvTabs__skills__counter"><span class="mvvTabs__skills__counter">45</span>%</h4>
                                                <span class="mvvTabs__skills__title color-title">kids need help</span>
                                            </div>
                                            <div class="mvvTabs__skills__block mb-20">
                                                <h4 class="mvvTabs__skills__counter">$<span class="mvvTabs__skills__counter">140</span>k</h4>
                                                <span class="mvvTabs__skills__title color-title">raised Now</span>
                                            </div>
                                            <div class="mvvTabs__skills__block mb-20">
                                                <h4 class="mvvTabs__skills__counter"><span class="mvvTabs__skills__counter">189</span>+</h4>
                                                <span class="mvvTabs__skills__title color-title">Voleenteer</span>
                                            </div>
                                        </div> -->
                                        <p class="mvvTabs__text mb-0">Commitment: NGOs must be dedicated to achieving their mission, and must be willing to invest time, energy, and resources to make a positive impact.
                                        </p> <p class="mvvTabs__text mb-0">Empathy: NGOs must demonstrate empathy towards the communities they serve, and must strive to understand their unique needs and perspectives.

                                        </p> <p class="mvvTabs__text mb-0">Collaboration: NGOs must work collaboratively with other organizations, stakeholders, and communities to achieve shared goals.

                                        </p> <p class="mvvTabs__text mb-0">Innovation: NGOs must be innovative in their approach to problem-solving, and must be willing to adapt and evolve in response to changing circumstances.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials End -->
<!-- Portfolio -->
<!-- <section class="portfolio">
    <div class="container-fluid p-0 overflow-hidden">
        <div class="row g-0">
            <div class="col-lg-4 col-md-6">
                <div class="portfolioBlock position-relative portfolioBlock--active">
                    <figure class="portfolioBlock__figure">
                        <img class="portfolioBlock__figure__thumb" src="{% static 'account/image/portfolio/portfolio-thumb1.jpg'  %}" alt="Gainioz Portfolio">
                        <div class="portfolioBlock__figure__shape">
                            <img src="{% static 'account/image/shapes/portfolio-shape.png' %}" alt="Gainioz">
                        </div>
                    </figure>
                    <div class="portfolioBlock__content">
                        <h2 class="portfolioBlock__heading text-uppercase"><a href="story-details.html">Homeless People In
            africa</a></h2>
                        <a class="portfolioBlock__hashLink" href="https://instagram.com" target="_blank"><span># Build
          Home</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="portfolioBlock position-relative">
                    <figure class="portfolioBlock__figure">
                        <img class="portfolioBlock__figure__thumb" src="{% static 'account/image/portfolio/portfolio-thumb2.jpg'  %}" alt="Gainioz Portfolio">
                        <div class="portfolioBlock__figure__shape">
                            <img src="{% static 'account/image/shapes/portfolio-shape.png' %}" alt="Gainioz">
                        </div>
                    </figure>
                    <div class="portfolioBlock__content">
                        <h2 class="portfolioBlock__heading text-uppercase"><a href="story-details.html">Homeless People In
            myanmar</a></h2>
                        <a class="portfolioBlock__hashLink" href="https://instagram.com" target="_blank"><span># Build
          Home</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="portfolioBlock position-relative">
                    <figure class="portfolioBlock__figure">
                        <img class="portfolioBlock__figure__thumb" src="{% static 'account/image/portfolio/portfolio-thumb3.jpg'  %}" alt="Gainioz Portfolio">
                        <div class="portfolioBlock__figure__shape">
                            <img src="{% static 'account/image/shapes/portfolio-shape.png' %}" alt="Gainioz">
                        </div>
                    </figure>
                    <div class="portfolioBlock__content">
                        <h2 class="portfolioBlock__heading text-uppercase"><a href="story-details.html">Foodless People In
            Sudan</a></h2>
                        <a class="portfolioBlock__hashLink" href="https://instagram.com" target="_blank"><span># Grow
          Grain</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Portfolio End -->
<!-- Blog -->
<!-- <section class="blog  pb-55">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
            
                <div class="sectionTitle text-center mb-60">
                    <span class="sectionTitle__small justify-content-center">
      <i class="fa-solid fa-heart btn__icon"></i>
      Newsfeds
    </span>
                    <h2 class="sectionTitle__big">Latest News & Article</h2>
                </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="blogBlock blogBlock--style1 mb-60">
                    <figure class="blogBlock__figure">
                        <a href="{% url 'blog_details' %}" class="blogBlock__figure__link">
          <img src="{% static 'account/image/blog/blog1.jpg'  %}" alt="Gainioz Blog" class="blogBlock__figure__image">
        </a>
                    </figure>
                    <div class="blogBlock__content">
                        <div class="blogBlock__header">
                            <span class="blogBlock__tag tag mb-20">Charity</span>
                            <h2 class="blogBlock__heading heading text-uppercase mb-20"><a class="blogBlock__heading__link" href="{% url 'blog_details' %}">Start a
              fundraiser for yourself
              in World
              Charity
              Day</a></h2>
                        </div>
                        <div class="blogBlock__body mb-30">
                            <p class="blogBlock__text text">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look
                            </p>
                        </div>
                        <div class="blogBlock__meta">
                            <ul class="blogBlock__meta__list">
                                <li>
                                    <a class="blogBlock__metaUser" href="#">
                <img class="blogBlock__metaUser__thumb" src="{% static 'account/image/users/user1.jpg'  %}" alt="Gainioz User">
                <span class="blogBlock__metaUser__name">Kathryn Murphy</span>
              </a>
                                </li>
                                <li>
                                    <button class="blogBlock__reactButton">
                <span class="blogBlock__reactButton__count">356</span>
              </button>
                                </li>
                                <li>
                                    <div class="blogBlock__date">
                                        <span class="blogBlock__date__text">12.January.2021</span>
                                        <i class="fa-regular fa-clock"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blogBlock blogBlock--style2 mb-60">
                    <figure class="blogBlock__figure">
                        <a href="{% url 'blog_details' %}" class="blogBlock__figure__link">
          <img src="{% static 'account/image/blog/blog2.jpg'  %}" alt="Gainioz Blog" class="blogBlock__figure__image">
        </a>
                    </figure>
                    <div class="blogBlock__content">
                        <div class="blogBlock__header">
                            <span class="blogBlock__tag tag mb-20">Health</span>
                            <h2 class="blogBlock__heading heading text-uppercase mb-20">
                                <a class="blogBlock__heading__link" href="{% url 'blog_details' %}">
              do you know why african people year of year waterless?
            </a>
                            </h2>
                        </div>
                        <div class="blogBlock__body mb-30">
                            <p class="blogBlock__text text">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look
                            </p>
                        </div>
                        <div class="blogBlock__meta">
                            <ul class="blogBlock__meta__list">
                                <li>
                                    <a class="blogBlock__metaUser" href="#">
                <img class="blogBlock__metaUser__thumb" src="{% static 'account/image/users/user2.jpg'  %}" alt="Gainioz User">
                <span class="blogBlock__metaUser__name">Savannah Nguyen</span>
              </a>
                                </li>
                                <li>
                                    <button class="blogBlock__reactButton">
                <span class="blogBlock__reactButton__count">556</span>
              </button>
                                </li>
                                <li>
                                    <div class="blogBlock__date">
                                        <span class="blogBlock__date__text">12.January.2021</span>
                                        <i class="fa-regular fa-clock"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blogBlock blogBlock--style2 mb-60">
                    <figure class="blogBlock__figure">
                        <a href="{% url 'blog_details' %}" class="blogBlock__figure__link">
          <img src="{% static 'account/image/blog/blog3.jpg'  %}" alt="Gainioz Blog" class="blogBlock__figure__image">
        </a>
                    </figure>
                    <div class="blogBlock__content">
                        <div class="blogBlock__header">
                            <span class="blogBlock__tag tag mb-20">Education</span>
                            <h2 class="blogBlock__heading heading text-uppercase mb-20">
                                <a class="blogBlock__heading__link" href="{% url 'blog_details' %}">
              Why you should join as a volunteer
              with us - 2022
            </a>
                            </h2>
                        </div>
                        <div class="blogBlock__body mb-30">
                            <p class="blogBlock__text text">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look
                            </p>
                        </div>
                        <div class="blogBlock__meta">
                            <ul class="blogBlock__meta__list">
                                <li>
                                    <a class="blogBlock__metaUser" href="#">
                <img class="blogBlock__metaUser__thumb" src="{% static 'account/image/users/user3.jpg'  %}" alt="Gainioz User">
                <span class="blogBlock__metaUser__name">Brooklyn Simmons</span>
              </a>
                                </li>
                                <li>
                                    <button class="blogBlock__reactButton">
                <span class="blogBlock__reactButton__count">556</span>
              </button>
                                </li>
                                <li>
                                    <div class="blogBlock__date">
                                        <span class="blogBlock__date__text">15.January.2021</span>
                                        <i class="fa-regular fa-clock"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Blog End -->
<!-- Sponsors -->
<section class="sponsors pb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sponsorsTitle">
                    <span class="sponsorsTitle__line"></span>
                    <h2 class="sponsorsTitle__heading text-uppercase">“ Become Support Partner ”</h2>
                    <span class="sponsorsTitle__line"></span>
                </div>
            </div>
        </div>
        <div class="sponsor-slider-active swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="sponsorsItem mb-40">
                        <img src="{% static 'account/image/sponsors/sponsors1.png' %}" alt="Gainioz Sponsors">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsorsItem mb-40">
                        <img src="{% static 'account/image/sponsors/sponsors2.png' %}" alt="Gainioz Sponsors">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsorsItem mb-40">
                        <img src="{% static 'account/image/sponsors/sponsors3.png' %}" alt="Gainioz Sponsors">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsorsItem mb-40">
                        <img src="{% static 'account/image/sponsors/sponsors4.png' %}" alt="Gainioz Sponsors">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsorsItem mb-40">
                        <img src="{% static 'account/image/sponsors/sponsors5.png' %}" alt="Gainioz Sponsors">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsorsItem mb-40">
                        <img src="{% static 'account/image/sponsors/sponsors6.png' %}" alt="Gainioz Sponsors">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sponsors End -->
</main>
<!-- Main End -->
{% endblock body %}