{% load static %}
    <!-- Preloader -->
    <div id="preloader">
        <div class="ctn-preloader" id="ctn-preloader">
            <div class="round_spinner">
                <div class="spinner"></div>
                <div class="text">
                    <img src="{% static 'account/image/logos/logo_black.png' %}" alt="Gainioz">
                </div>
            </div>
            <h2 class="head">DO GOOD FOR OTHERS</h2>
            <p></p>
        </div>
    </div>
    <!-- Preloader End -->
    <!-- Main -->
    <main class="main">
        <!-- Header Style One -->
        <!-- header -->
        <header class="header header--styleOne sticky-on">
            <div id="sticky-placeholder"></div>
            <div class="container container--custom">
                <div class="row">
                    <div class="col-12">
                        <div class="header__wrapper">
                            <!-- logo start -->
                            <div class="header__logo">
                                <a href="{% url 'home' %}" class="header__logo__link">
                  <img src="{% static 'account/image/logos/logo_black.png' %}" alt="Gainioz" class="header__logo__image">
                </a>
                            </div>
                            <!-- logo end -->
                            <!-- Main Menu Start -->
                            <div class="header__menu">
                                <nav class="mainMenu">
                                    <ul>
                                        <li class="dropdown"><a class="a" href="{% url 'home' %}">Home</a> </li>
                                        <li><a class="a" href="{% url 'about' %}">About</a></li>
                                        <!-- <li><a class="a" href="{% url 'donation_details' %}">Donations</a></li> -->
                                         <li><a class="a" href="{% url 'donation_details' %}">Donations</a></li>
                                        <!-- <li><a href="{% url 'blog' %}">Blog</a></li> -->
                                        <li class="dropdown"><p class="a" >Pages</p>
                                            <ul class="dropdown_menu dropdown_menu-2">
                                                <!-- <li class="dropdown_item-1"><a href="{% url 'events' %}">Events</a></li> -->
                                                <!-- <li class="dropdown_item-2"><a href="{% url 'faq' %}">FAQ`s</a></li> -->
                                                <li class="dropdown_item-1"><a href="{% url 'service' %}">Services</a></li>
                                                <li class="dropdown_item-2"><a href="{% url 'gallery' %}">Gallery</a></li>
                                                <li class="dropdown_item-3"><a href="{% url 'volunteers' %}">Volunteers</a></li>
                                                <li class="dropdown_item-4"><a href="{% url 'join_volunteers' %}">Join Volunteers</a></li>
                                             </ul>
                                        </li>
                                        <li><a class="a" href="{% url 'contact' %}">Contacts</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- Main Menu End -->
                                                       <!-- Header Right Buttons Search Cart -->
                                                       <div class="header__right">
                                                        <div class="header__actions">
                                                            <ul>
                    
                                                                <!-- <li>
                                                                    <a href="#template-search">
                                                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M21.8281 21.4609L16.2852 15.918C16.1992 15.832 16.0703 15.7891 15.9414 15.7891H15.4688C16.9727 14.1562 17.875 12.0508 17.875 9.6875C17.875 4.78906 13.8359 0.75 8.9375 0.75C3.99609 0.75 0 4.78906 0 9.6875C0 14.6289 3.99609 18.625 8.9375 18.625C11.2578 18.625 13.4062 17.7227 14.9961 16.2617V16.6914C14.9961 16.8633 15.0391 16.9922 15.125 17.0781L20.668 22.6211C20.8828 22.8359 21.1836 22.8359 21.3984 22.6211L21.8281 22.1914C22.043 21.9766 22.043 21.6758 21.8281 21.4609ZM8.9375 17.25C4.72656 17.25 1.375 13.8984 1.375 9.6875C1.375 5.51953 4.72656 2.125 8.9375 2.125C13.1055 2.125 16.5 5.51953 16.5 9.6875C16.5 13.8984 13.1055 17.25 8.9375 17.25Z" fill="#7FB432" />
                                                </svg>
                                              </a>
                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="header__button">
                                                            <a class="btn btn--styleOne btn--secondary it-btn" href="{% url 'donation_details' %}">
                                            <span class="btn__text">donate now</span>
                                            <i class="fa-solid fa-heart btn__icon"></i>
                                            <span class="it-btn__inner">
                                                            <span class="it-btn__blobs">
                                                                <span class="it-btn__blob"></span>
                                            <span class="it-btn__blob"></span>
                                            <span class="it-btn__blob"></span>
                                            <span class="it-btn__blob"></span>
                                            </span>
                                            </span>
                                            <svg class="it-btn__animation" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                              <defs>
                                                <filter>
                                                  <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10">
                                                  </feGaussianBlur>
                                                  <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo">
                                                  </feColorMatrix>
                                                  <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                                                </filter>
                                              </defs>
                                            </svg>
                                          </a>
                                                        </div>
                                                    </div>
                                                    <!-- Header Right Buttons Search Cart -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <!-- end header -->
                                <!-- Mobile Menu Button Start -->
                                <div class="header header--mobile cc-header-menu mean-container position-relative" id="meanmenu">
                                    <div class="mean-bar headerBurgerMenu">
                                        <a href="{% url 'home' %}">
                                  <img class="mean-bar__logo" alt="Techkit" src="{% static 'account/image/logos/logo_black.png' %}" />
                                </a>
                                        <!-- Header Right Buttons Search Cart -->
                                        <div class="header__right">
                                            <div class="header__actions">
                                                <ul>
                                                    <!-- <li>
                                                        <a href="#template-search">
                                          <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M21.8281 21.4609L16.2852 15.918C16.1992 15.832 16.0703 15.7891 15.9414 15.7891H15.4688C16.9727 14.1562 17.875 12.0508 17.875 9.6875C17.875 4.78906 13.8359 0.75 8.9375 0.75C3.99609 0.75 0 4.78906 0 9.6875C0 14.6289 3.99609 18.625 8.9375 18.625C11.2578 18.625 13.4062 17.7227 14.9961 16.2617V16.6914C14.9961 16.8633 15.0391 16.9922 15.125 17.0781L20.668 22.6211C20.8828 22.8359 21.1836 22.8359 21.3984 22.6211L21.8281 22.1914C22.043 21.9766 22.043 21.6758 21.8281 21.4609ZM8.9375 17.25C4.72656 17.25 1.375 13.8984 1.375 9.6875C1.375 5.51953 4.72656 2.125 8.9375 2.125C13.1055 2.125 16.5 5.51953 16.5 9.6875C16.5 13.8984 13.1055 17.25 8.9375 17.25Z" fill="#7FB432" />
                                          </svg>
                                        </a>
                                                    </li> -->
                                                    <li>
                                                        <button class="headerBurgerMenu__button sidebarBtn" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
                                          <svg width="50" height="50" viewBox="0 0 100 100">
                                            <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                                            <path class="line line2" d="M 20,50 H 80" />
                                            <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                                          </svg>
                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Header Right Buttons Search Cart -->
                                    </div>
                                </div>
                                <!-- Mobile Menu Button End -->
                                <!-- Mobile Menu Navbar -->
                                <div class="cc cc--slideNav">
                                    <div class="cc__logo mb-40">
                                        <a href="{% url 'home' %}">
                                  <img class="mean-bar__logo" alt="Techkit" src="{% static 'account/image/logos/logo_black.png' %}" />
                                </a>
                                    </div>
                                    <div class="offscreen-navigation mb-40">
                                        <nav class="menu-main-primary-container">
                                            <ul class="menu">
                                                <li class="list menu-item-parent ">
                                                    <a class="animation" href="{% url 'home' %}">Home</a>
                                                </li>
                                                <li class="list menu-item-parent">
                                                    <a class="animation" href="{% url 'about' %}">About</a>
                                                </li>
                                                <li class="list menu-item-parent">
                                                    <a class="animation" href="{% url 'donation_details' %}">Donations</a>
                                                </li>
                                                <!-- <li class="list menu-item-parent">
                                                    <a class="animation" href="{% url 'blog' %}">Blog</a>
                                                </li> -->
                                                <li class="list menu-item-parent menu-item-has-children">
                                                    <a class="animation" href="{% url 'home' %}">Pages</a>
                                                    <ul class="main-menu__dropdown sub-menu">
                                                        <!-- <li><a href="{% url 'events' %}">Events</a></li> -->
                                                        <!-- <li>
                                                            <a href="{% url 'faq' %}">Faq</a>
                                                        </li> -->
                                        
                                                        <li>
                                                            <a href="{% url 'service' %}">Service</a>
                                                        </li>
                                                        <li class="dropdown_item-4"><a href="{% url 'gallery' %}">Gallery</a></li>
                                                        <li>
                                                            <a href="{% url 'volunteers' %}">Volunteers</a>
                                                        </li>
                                                        <li>
                                                            <a href="{% url 'join_volunteers' %}">Join Volunteers</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="list menu-item-parent">
                                                    <a class="animation" href="{% url 'contact' %}">Contacts</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="itSocial itSocial--sidebar mb-40">
                                        <ul>
                                            <li>
                                                <a class="facebook" href="https://facebook.com/hhc4you/"  target="_blank" rel="facebook">
                                  <i class="fab fa-facebook-f"></i>
                                </a>
                                            </li>
                                            <!-- <li>
                                                <a class="twitter" href="https://codercredit.com/" rel="nofollow">
                                  <i class="fab fa-twitter"></i>
                                </a>
                                            </li> -->
                                            <li>
                                                <a class="instagram" href="https://instagram.com/hhc4u/" target="_blank" rel="instagram">
                                  <i class="fab fa-instagram"></i>
                                </a>
                                            </li>
                                            <li>
                                                <a class="youtube" href="https://youtube.com/@hhc4you"  target="_blank" rel="youtube">
                                                    <i class="fab fa-youtube"></i>
                                </a>
                                            </li> 
                                        </ul>
                                    </div>
                                    <div class="cc__button">
                                        <div class="header__button">
                                            <a class="btn btn--styleOne btn--secondary it-btn" href="{% url 'donation_details' %}">
                                    <span class="btn__text">Contact Us</span>
                                    <i class="fa-solid fa-heart btn__icon"></i>
                                    <span class="it-btn__inner">
                                            <span class="it-btn__blobs">
                                                <span class="it-btn__blob"></span>
                                    <span class="it-btn__blob"></span>
                                    <span class="it-btn__blob"></span>
                                    <span class="it-btn__blob"></span>
                                    </span>
                                    </span>
                                    <svg class="it-btn__animation" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                      <defs>
                                        <filter id="goo">
                                          <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10">
                                          </feGaussianBlur>
                                          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo">
                                          </feColorMatrix>
                                          <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                                        </filter>
                                      </defs>
                                    </svg>
                                  </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Mobile Menu Navbar End -->
                                <!-- Header Style One End -->