{% extends 'account/base.html' %}
{% block title %}volunteers{% endblock title%}
{% load static %}
{% block body %}
<section class="pageBreadcumb pageBreadcumb--style1 position-relative" data-bg-image="{% static 'account/image/bg/pageBreadcumbBg1.jpg' %}">
    <div class="pageBreadcumbTopDown">
        <a class="btn btn--styleOne btn--icon btn--icon2 it-btn" href="donation-listing.html">
  <svg class="btn__icon" width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.869141 8.70508L1.45508 8.11914C1.60156 8.00195 1.80664 8.00195 1.95312 8.14844L4.23828 10.4922V0.414062C4.23828 0.208984 4.38477 0.0625 4.58984 0.0625H5.41016C5.58594 0.0625 5.76172 0.208984 5.76172 0.414062V10.4922L8.01758 8.14844C8.16406 8.00195 8.36914 8.00195 8.51562 8.11914L9.10156 8.70508C9.21875 8.85156 9.21875 9.05664 9.10156 9.20312L5.23438 13.0703C5.08789 13.1875 4.88281 13.1875 4.73633 13.0703L0.869141 9.20312C0.751953 9.05664 0.751953 8.85156 0.869141 8.70508Z" fill="#60646B" />
  </svg>
  <span class="it-btn__inner">
  <span class="it-btn__blobs">
    <span class="it-btn__blob"></span>
  <span class="it-btn__blob"></span>
  <span class="it-btn__blob"></span>
  <span class="it-btn__blob"></span>
  </span>
  </span>
  <svg class="it-btn__animation" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter>
        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo">
        </feColorMatrix>
        <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
      </filter>
    </defs>
  </svg>
</a>
    </div>
    <div class="sectionShape sectionShape--top">
        <img src="{% static 'account/image/shapes/pagebreadcumbShapeTop.svg' %}" alt="Gainioz">
    </div>
    <div class="sectionShape sectionShape--bottom">
        <img src="{% static 'account/image/shapes/pagebreadcumbShapeBottom.svg' %}" alt="Gainioz">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="pageTitle text-center">
                    <h2 class="pageTitle__heading text-white text-uppercase mb-25">Our Volunteers</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">volunteers</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Breadcumb End -->
<!-- Volunteers -->
<section class="volunteersSection pt-150 pb-110">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading/Title -->
                <div class="sectionTitle text-center mb-70">
                    <span class="sectionTitle__small justify-content-center">
      <i class="fa-solid fa-heart btn__icon"></i>
      We Change Your Life & World
    </span>
                    <h2 class="sectionTitle__big">Meet Our Volunteers</h2>
                </div>
                <!-- Section Heading/Title End -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-45">
                <div class="volunteerBlock text-center">
                    <figure class="volunteerBlock__figure">
                        <img class="volunteerBlock__figure__thumb" src="{% static 'account/image/volunteers/volunteer1.jpg' %}" alt="Gainioz Volunteers">
                    </figure>
                    <div class="volunteerBlock__content">
                        <h3 class="volunteerBlock__name text-uppercase text-center">
                            <a href="story-details.html">Cameron Williamson</a>
                        </h3>
                        <div class="itSocial itSocial--volunteer">
                            <ul>
                                <li>
                                    <a class="facebook" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-facebook-f"></i>
              </a>
                                </li>
                                <li>
                                    <a class="twitter" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-twitter"></i>
              </a>
                                </li>
                                <li>
                                    <a class="instagram" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-instagram"></i>
              </a>
                                </li>
                                <li>
                                    <a class="linkedin" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-linkedin-in"></i>
              </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-45">
                <div class="volunteerBlock text-center">
                    <figure class="volunteerBlock__figure">
                        <img class="volunteerBlock__figure__thumb" src="{% static 'account/image/volunteers/volunteer2.jpg' %}" alt="Gainioz Volunteers">
                    </figure>
                    <div class="volunteerBlock__content">
                        <h3 class="volunteerBlock__name text-uppercase text-center">
                            <a href="story-details.html">Esther Howard</a>
                        </h3>
                        <div class="itSocial itSocial--volunteer">
                            <ul>
                                <li>
                                    <a class="facebook" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-facebook-f"></i>
              </a>
                                </li>
                                <li>
                                    <a class="twitter" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-twitter"></i>
              </a>
                                </li>
                                <li>
                                    <a class="instagram" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-instagram"></i>
              </a>
                                </li>
                                <li>
                                    <a class="linkedin" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-linkedin-in"></i>
              </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-45">
                <div class="volunteerBlock text-center">
                    <figure class="volunteerBlock__figure">
                        <img class="volunteerBlock__figure__thumb" src="{% static 'account/image/volunteers/volunteer3.jpg' %}" alt="Gainioz Volunteers">
                    </figure>
                    <div class="volunteerBlock__content">
                        <h3 class="volunteerBlock__name text-uppercase text-center">
                            <a href="story-details.html">Guy Hawkins</a>
                        </h3>
                        <div class="itSocial itSocial--volunteer">
                            <ul>
                                <li>
                                    <a class="facebook" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-facebook-f"></i>
              </a>
                                </li>
                                <li>
                                    <a class="twitter" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-twitter"></i>
              </a>
                                </li>
                                <li>
                                    <a class="instagram" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-instagram"></i>
              </a>
                                </li>
                                <li>
                                    <a class="linkedin" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-linkedin-in"></i>
              </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-45">
                <div class="volunteerBlock text-center">
                    <figure class="volunteerBlock__figure">
                        <img class="volunteerBlock__figure__thumb" src="{% static 'account/image/volunteers/volunteer4.jpg' %}" alt="Gainioz Volunteers">
                    </figure>
                    <div class="volunteerBlock__content">
                        <h3 class="volunteerBlock__name text-uppercase text-center">
                            <a href="story-details.html">Savannah Nguyen</a>
                        </h3>
                        <div class="itSocial itSocial--volunteer">
                            <ul>
                                <li>
                                    <a class="facebook" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-facebook-f"></i>
              </a>
                                </li>
                                <li>
                                    <a class="twitter" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-twitter"></i>
              </a>
                                </li>
                                <li>
                                    <a class="instagram" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-instagram"></i>
              </a>
                                </li>
                                <li>
                                    <a class="linkedin" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-linkedin-in"></i>
              </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-45">
                <div class="volunteerBlock text-center">
                    <figure class="volunteerBlock__figure">
                        <img class="volunteerBlock__figure__thumb" src="{% static 'account/image/volunteers/volunteer5.jpg' %}" alt="Gainioz Volunteers">
                    </figure>
                    <div class="volunteerBlock__content">
                        <h3 class="volunteerBlock__name text-uppercase text-center">
                            <a href="story-details.html">Jane Cooper</a>
                        </h3>
                        <div class="itSocial itSocial--volunteer">
                            <ul>
                                <li>
                                    <a class="facebook" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-facebook-f"></i>
              </a>
                                </li>
                                <li>
                                    <a class="twitter" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-twitter"></i>
              </a>
                                </li>
                                <li>
                                    <a class="instagram" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-instagram"></i>
              </a>
                                </li>
                                <li>
                                    <a class="linkedin" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-linkedin-in"></i>
              </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-45">
                <div class="volunteerBlock text-center">
                    <figure class="volunteerBlock__figure">
                        <img class="volunteerBlock__figure__thumb" src="{% static 'account/image/volunteers/volunteer6.jpg' %}" alt="Gainioz Volunteers">
                    </figure>
                    <div class="volunteerBlock__content">
                        <h3 class="volunteerBlock__name text-uppercase text-center">
                            <a href="story-details.html">Robert Fox</a>
                        </h3>
                        <div class="itSocial itSocial--volunteer">
                            <ul>
                                <li>
                                    <a class="facebook" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-facebook-f"></i>
              </a>
                                </li>
                                <li>
                                    <a class="twitter" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-twitter"></i>
              </a>
                                </li>
                                <li>
                                    <a class="instagram" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-instagram"></i>
              </a>
                                </li>
                                <li>
                                    <a class="linkedin" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-linkedin-in"></i>
              </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-45">
                <div class="volunteerBlock text-center">
                    <figure class="volunteerBlock__figure">
                        <img class="volunteerBlock__figure__thumb" src="{% static 'account/image/volunteers/volunteer7.jpg' %}" alt="Gainioz Volunteers">
                    </figure>
                    <div class="volunteerBlock__content">
                        <h3 class="volunteerBlock__name text-uppercase text-center">
                            <a href="story-details.html">Wade Warren</a>
                        </h3>
                        <div class="itSocial itSocial--volunteer">
                            <ul>
                                <li>
                                    <a class="facebook" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-facebook-f"></i>
              </a>
                                </li>
                                <li>
                                    <a class="twitter" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-twitter"></i>
              </a>
                                </li>
                                <li>
                                    <a class="instagram" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-instagram"></i>
              </a>
                                </li>
                                <li>
                                    <a class="linkedin" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-linkedin-in"></i>
              </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-45">
                <div class="volunteerBlock text-center">
                    <figure class="volunteerBlock__figure">
                        <img class="volunteerBlock__figure__thumb" src="{% static 'account/image/volunteers/volunteer8.jpg' %}" alt="Gainioz Volunteers">
                    </figure>
                    <div class="volunteerBlock__content">
                        <h3 class="volunteerBlock__name text-uppercase text-center">
                            <a href="story-details.html">Jenny Wilson</a>
                        </h3>
                        <div class="itSocial itSocial--volunteer">
                            <ul>
                                <li>
                                    <a class="facebook" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-facebook-f"></i>
              </a>
                                </li>
                                <li>
                                    <a class="twitter" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-twitter"></i>
              </a>
                                </li>
                                <li>
                                    <a class="instagram" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-instagram"></i>
              </a>
                                </li>
                                <li>
                                    <a class="linkedin" href="https://codercredit.com/" rel="nofollow">
                <i class="fab fa-linkedin-in"></i>
              </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="sectionButton text-center pt-35">
                    <a class="btn btn--styleOne btn--primary it-btn" href="{% url 'volunteers' %}">
        <span class="btn__text">see all Volunteers</span>
        <i class="fa-solid fa-heart btn__icon"></i>
        <span class="it-btn__inner">
        <span class="it-btn__blobs">
          <span class="it-btn__blob"></span>
        <span class="it-btn__blob"></span>
        <span class="it-btn__blob"></span>
        <span class="it-btn__blob"></span>
        </span>
        </span>
        <svg class="it-btn__animation" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <defs>
            <filter>
              <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo">
              </feColorMatrix>
              <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
            </filter>
          </defs>
        </svg>
      </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Volunteers End -->
</main>
<!-- Main End -->
{% endblock body %}